<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434636311927-k1vnl599ssuaj038e3s33f54l7bniell.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434636311927-k1vnl599ssuaj038e3s33f54l7bniell</string>
	<key>API_KEY</key>
	<string>AIzaSyBv2C9qUV9euuJbXuBWvRfkEaJb0rdkSDo</string>
	<key>GCM_SENDER_ID</key>
	<string>434636311927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vladimir.Calculator-Project</string>
	<key>PROJECT_ID</key>
	<string>calculator-project-50cf6</string>
	<key>STORAGE_BUCKET</key>
	<string>calculator-project-50cf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434636311927:ios:f24ce64fec71693cb2a572</string>
</dict>
</plist>